In [37]:
import pathlib
import urllib
import sys
import pandas as pd
import numpy as np
from scipy.stats import trim_mean, iqr, skew, kurtosis

In [38]:
path = pathlib.Path('../data/adult.csv')
if path.exists():
    print('adult dataset found!')
else:
    sys.stdout.write('Downloading the adult dataset from the Internet...')
    ADULTURL = "https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data"
    urllib.request.urlretrieve(ADULTURL, path.absolute())
    sys.stdout.write('Done!')

adult dataset found!

In [39]:
# Load the adult dataset into a Pandas dataframe
adult_columns = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', '>50K, <=50K']
adult = pd.read_csv(path.absolute(),names=adult_columns)

In [40]:
adult.head(5)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,">50K, <=50K"
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

## 1. Statistics about Numeric values

In [109]:
# select all columns with numeric values
adult_numeric = adult.select_dtypes(include=np.number)

In [110]:
adult_numeric.head(5)

   age  fnlwgt  education-num  capital-gain  capital-loss  hours-per-week
0   39   77516             13          2174             0              40
1   50   83311             13             0             0              13
2   38  215646              9             0             0              40
3   53  234721              7             0             0              40
4   28  338409             13             0             0              40

In [111]:
cnames = ['mean', 'median', 'mode', 'trimmed mean (p=20%)', 'min', 'max', 'range', 'std']
adult_numeric.agg(lambda x: pd.Series([np.mean(x), np.median(x),x.mode()[0], trim_mean(x, 0.2),x.min(),x.max(),x.max()-x.min(),x.std()], index=cnames))

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
median,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
mode,36.000000,1.230110e+05,9.000000,0.000000,0.000000,40.000000
trimmed mean (p=20%),37.348518,1.775416e+05,9.996878,0.000000,0.000000,40.590725
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000
range,73.000000,1.472420e+06,15.000000,99999.000000,4356.000000,98.000000
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429

## 2. Statistics about Categorical values

In [112]:
# select all columns with categorical values
adult_categorical = adult.select_dtypes(include=['object'])

In [113]:
adult_categorical.head(5)

,workclass,education,marital-status,occupation,relationship,race,sex,native-country,">50K, <=50K"
0,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,United-States,<=50K
1,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,<=50K
2,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States,<=50K
3,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States,<=50K
4,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba,<=50K

In [108]:
cnames = adult_categorical.columns.tolist()
cnames

['workclass',
 'education',
 'marital-status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'native-country',
 '>50K, <=50K']

In [107]:
for cname in cnames:

KeyError: ("None of [Index([' State-gov', ' Self-emp-not-inc', ' Private', ' Private', ' Private',\n       ' Private', ' Private', ' Self-emp-not-inc', ' Private', ' Private',\n       ...\n       ' Private', ' Private', ' Private', ' Private', ' Private', ' Private',\n       ' Private', ' Private', ' Private', ' Self-emp-inc'],\n      dtype='object', length=32561)] are in the [columns]", 'occurred at index workclass')